{
    font-size: 90%;
}

.ui-widget {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    background: #2e3641;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.ui-datepicker {
    padding: 0;

}

.ui-datepicker-header {
    border: none;
    background-color: #AA0000;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.14);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.14);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.14);
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjI3Ii8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjI3Ii8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.27) 0%, rgba(255,255,255,.27) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,.27) 0%, rgba(255,255,255,.27) 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.27) 0%, rgba(255,255,255,.27) 100%);
    background-image: linear-gradient(bottom, rgba(0,0,0,.27) 0%, rgba(255,255,255,.27) 100%);
}

.ui-datepicker-header .ui-state-hover {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.ui-datepicker .ui-datepicker-title {
    margin-top: .4em;
    margin-bottom: .3em;
    color: #e9f0f4;
}

.ui-datepicker-prev:hover{
    solid #000;   
}

.ui-datepicker-prev{
    cursor:pointer;
    float:left;
    display:block;

    border-left:5px solid transparent;

    text-indent:-9999px;
    height:0;
    width:0;

}

.ui-datepicker-calendar{
    display: true;
}

.ui-datepicker-next:hover{
    solid #000;   
}

.ui-datepicker-next{
    cursor:pointer;
    float:right;
    display:block;

    border-right:5px solid transparent;
    text-indent:-9999px;
    height:0;
    width:0;

}

.ui-datepicker table {
    margin: 0;
}

.ui-datepicker th {
    padding: 1em 0;
    color: #ccc;
    font-size: 13px;
    font-weight: normal;
    border: none;
    border-top: 1px solid #3a414d;
}

.ui-datepicker td {
    background: #f0f0f0;
    border: none;
    padding: 0;
}

.ui-state-default {
    background: transparent;
    border: none;
    text-align: center;
    padding: .5em;
    margin: 0;
    font-weight: normal;
    color: #efefef;
    font-size: 16px;
}

.ui-state-disabled  {
    opacity: 1;
}

.ui-state-disabled .ui-state-default {
    color: #fba49e;
}

.ui-state-active,
.ui-state-hover {
    background: #2e3641;
}
